* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
      to left top,
      hsl(273, 75%, 66%),
      hsl(240, 73%, 65%)
    )
    fixed;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

div {
  display: block;
}
hr {
  color: hsl(240, 5%, 91%);
}
.attribution a {
  color: orange;
}
.content li {
  margin-bottom: 25px;
}
.content ul {
  list-style-type: none;
}

.content p {
  display: none;
  margin-bottom: 25px;
}
.box {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 20px;
  margin-top: 200px;
  padding: 2rem 1.5rem 4rem;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: left 50% top -5px;
  box-shadow: 0 20px 20px rgb(111 79 148);
}

.illistration-woman {
  width: 100%;
  height: 200px;
  background-image: url(./images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  margin-top: -11rem;
  background-position: left 40% top 0;
}

.title {
  margin-top: 10px;
  text-align: center;
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
